<%layout("/layouts/boilerplate")%>
<body>
  <h3>All listings</h3>
  <ul>
    <%for(let list of allListings) {%>
    <li><a href="/listings/<%=list.id%>"><%=list.title%></a></li>
    <%}%>
  </ul>
  <!-- <form action="/listings/new" method="GET">
    <button>Create New Listing</button>
  </form> -->
</body>
